j9/src/main/resources/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="https://www.training.com/schemas/books"
           xmlns="https://www.training.com/schemas/books"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="books" type="booksType">
        <xs:annotation>
            <xs:documentation>Catalog of books</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="booksType">
        <xs:sequence>
            <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="isbn10" use="optional"/>
    </xs:complexType>
</xs:schema>